.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
  margin-right: 1000px;
}
.nav-items {
  margin-top: 18px;
}
.nav-items > ul > a > li {
  margin-right: 22px;
  font-size: 24px;
}

.logo {
  width: 100px;
}

.card {
  width: 200px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.card > img {
  width: 100%;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
}

.search-container {
  margin-top: 24px;
  margin-left: 10px;
}
.search-input {
  width: 200px;
  height: 22px;
  border-radius: 4px;
  margin-right: 10px;
}
.search-btn {
  border-radius: 4px;
  height: 26px;
  width: 72px;
}
.clear-btn {
  margin-left: 10px;
  border-radius: 4px;
  height: 26px;
  width: 72px;
}
.shimmer-card {
  width: 200px;
  height: 200px;
  background: lightgrey;
  margin: 20px;
}
.error-page {
  margin-top: 250px;
  margin-left: 500px;
}
.menu {
  display: flex;
}
