.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid rgb(211 211 211);
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
}

.nav-items > ul > a > li {
  margin-right: 60px;
  font-size: 24px;
  margin-top: 20px;
}
.nav-items > ul > button {
  margin-top: 14px;
}
.logo {
  width: 100px;
}

.card {
  width: 250px;
  border: 3px solid rgb(211 211 211);
  border-radius: 14px;
  padding: 10px;
  margin: 10px;
}

.card > img {
  width: 100%;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: 1%;
  margin-left: 10%;
}

.search-container {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 20px;
}
.search-input {
  width: 600px;
  height: 50px;
  border-radius: 30px;
  margin-right: 40px;
  text-align: center;
  font-size: 20px;
}
.search-btn {
  background: cornflowerblue;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  color: white;
  font-size: 18px;
}
.clear-btn {
  margin-left: 10px;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  color: rgb(15, 14, 14);
  font-size: 18px;
}
.shimmer-card {
  width: 200px;
  height: 200px;
  background: lightgrey;
  margin: 20px;
}
.error-page {
  margin-top: 250px;
  margin-left: 500px;
}
.menu {
  display: flex;
}

.nav-items > ul > a {
  text-decoration: none !important;
}
.login {
  color: white;
  border-radius: 7px;
  margin-right: 70px;
  width: 100px;
  height: 40px;
  background: cornflowerblue;
  font-size: 20px;
  margin-left: 30px;
}
input[type="text"]:focus {
  outline: 2px solid #1661ec;
}

.restaurant-list > a {
  text-decoration: none;
}
